<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="sha-popo" parallel="true" thread-count="10">

    <test name="sha" parallel="methods" thread-count="10">
        <parameter name="game" value="Dota"/>
        <packages>
            <package name="popo.epam.sha.selenide"/>
        </packages>
    </test>

</suite>