<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="atlas-popo" parallel="true" thread-count="10">

    <test name="atlas" parallel="methods" thread-count="10">
        <!--<classes>-->
            <!--<class name="popo.atlas.app.FindRepositoryTest"/>-->
        <!--</classes>-->
        <packages>
            <package name="com.epam.sha.selenium"/>
        </packages>
    </test>

</suite>